################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.suo
/CpuTempService/obj
/CpuTempService/bin
/.vs
/null
/RaspiMediaControllerFrontend/obj
/RaspiMediaControllerFrontend/bin/Debug/netcoreapp2.0
/MediaControllerBackendServices/bin/Debug/netcoreapp2.0
/MediaControllerBackendServices/obj
/RaspiMediaControllerFrontend/bin
/RaspiMediaControllerFrontend/null
/MediaControllerBackendServices/bin/Debug/netcoreapp2.1/linux-arm
/MediaControllerBackendServices/bin/Debug/netcoreapp2.1/MediaControllerBackendServices.pdb
/MediaControllerBackendServices/bin/Debug/netcoreapp2.1/MediaControllerBackendServices.dll
/ElectronFrontend/node_modules
/ElectronFrontend/bin
/ElectronFrontend/obj/Debug
/RaspiFrontendAngular/bin/Microsoft.NodejsTools.WebRole.dll
/RaspiFrontendAngular/obj/Debug
/bin/Debug
/obj
/MediaControllerBackendServices/bin/Debug/netcoreapp2.2
/RaspiFrontendElectron/node_modules
sh.exe.stackdump
