################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.suo
/CpuTempService/CpuTempService/obj
/CpuTempService/CpuTempService/bin
/.vs/VSWorkspaceState.json
