<div class="weather"> 
  <div class="externalcontainer">
    <div >
      <img class="leftimg" src="assets/img/weather/temperature.png" />
      <div class="lefttext">{{temperature}}°C
      </div>
    </div>
    <div>
      <img class="rightimg" src="assets/img/weather/humidity.png"/>
      <div class="righttext">{{humidity | number: '2.0'}}%</div>
    </div>
  </div>
    <div>
      <table class="small">
        <tr>
        <td *ngFor="let module of modules">
          <table>
            <tr>{{ module.name }}</tr>
            <tr><img src="assets/img/weather/temperature.png" width="25px" height="25px"/>{{module.temperature}}°C
            <tr><img src="assets/img/weather/humidity.png" width="25px" height="25px"/>{{module.humidity | number: '2.0'}}%</tr>
            <tr><img src="assets/img/weather/co2.png" width="25px" height="25px"/>{{module.co2 | number: '2.0'}}ppm</tr>
            <tr *ngIf="module.type == 0"><img src="assets/img/weather/pressure.png" width="25px" height="25px"/>{{module.pressure | number: '4.0'}}mbar</tr>
          </table>
        </td>
      </tr>
      </table>
      </div>
</div>