/* You can add global styles to this file, and also import other style files */
html {
  background: black
}

body {
  margin: 0;
  padding: 0;
}

.body.content {
  font-family: "Times New Roman", Times, serif;
  font-size: 120px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: gray;
  overflow: hidden;
  position: absolute;
  opacity: 0.8;
}

.header.row {
  position: absolute;
  font-size: 20px;
  Color: whitesmoke;
  height: 30px;
  top: 10px;
}


.footer.row {
  position: absolute;
  font-size: 20px;
  Color: gray;
  height: 30px;
  bottom:10px;
  opacity: 0.5
}

.timetable {
  width: 100%;
  height: 100%;
  text-align: center;
}

.timetable.dateString {
  font-size: 20px;
}
