.clockcontainer {
  width: 800px;
  height: 100%;
}
.clock {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  color: gray;
  overflow: hidden;
  opacity: 0.8;
  position: relative;
  align-self: center;
  box-sizing: border-box;
}
.left {
  float: left;
  text-align: right;
  width: 50%;
}
.middle {
  float: left;
  height: 100%;
  width: 20px;
}
.right {
  float: right;
  text-align: left;
  width: 50%;
}
.top {
  height: 30px;
}
.small {
  font-size: 20px;
}