body {
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
    background-color: black;
    width: 100vh;
    height: 100vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
    background-color: black;
    width: 100vh;
    height: 100vh;
}


