<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script src="~/lib/signalr.js"></script>
    <div class="header row">
        @await Html.PartialAsync("_Header")
    </div>
    <div class="body content">
        @RenderBody()
    </div>
    <div class="footer row">
        @await Html.PartialAsync("_Footer")
    </div>
</body>
</html>
