@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTime.Now;
    var hour = now.Hour;
    var minute = now.Minute;
    var timeString = string.Format("{0:D2}:{1:D2}", hour, minute);
    var dateString = string.Format("{0:D2}.{1:D2}.{2:D4}", now.Day, now.Month, now.Year);
}
<table class="timetable">
    <tr/>
    <tr style="padding: 0; margin: 0;">
        <td>
            <div id="timeString">@timeString</div>
        </td>
    </tr>
    <tr  style="padding: 0; margin: 0;">
        <td >
            <div class="timetable dateString" id="dateString">@dateString</div>
        </td>
    </tr>
    <tr/>
</table>

<script src="~/js/time.js"></script>
