@{
    ViewData["Title"] = "Home Page";
    var now = DateTime.Now;
    var hour = now.Hour;
    var minute = now.Minute;
    var second = now.Second;
}

<div id="myCarousel" class="body-content" align="center">
    <div id="hour">@hour</div>:<div id="minute">@minute</div>:<div id="second">@second</div>
</div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/time.js"></script>
