@{
    ViewData["Title"] = "Home Page";
    var now = DateTime.Now;
    var hour = now.Hour;
    var minute = now.Minute;
    var second = now.Second;
}

<div id="myCarousel" class="body-content" align="center">
    <table>
        <tr>
            <td><div id="hour">@hour</div></td>
            <td>:</td>
            <td><div id="minute">@minute</div></td>
            <td>:</td>
            <td><div id="second">@second</div></td>
        </tr>
    </table>
</div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/time.js"></script>
